<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DAILY JOURNAL</title>
    <!-- Bootstrap CSS -->

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/styles3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento">
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <p class="navbar-brand">DAILY JOURNAL</p>
        </div>
          <ul class="nav navbar-nav navbar-right">
            <li id="home"><a href="/">HOME</a></li>
            <li id="about"><a href="/about">SUBSCRIBE</a></li>
            <li id="contact"><a href="/contact">CONTACT US</a></li>
          </ul>
      </div>
    </nav>
  </head>
  <body>
    <div class="middle-container">
      <div class="contact-me">
        <h4>Get In Touch</h4>
        <h3>If you want to code with me</h3>
        <p class="contact-message">Love code as much as I do ping for a pair or to exchange thoughts.</p>
        <a class="myButton" href="mailto:sahanirmalyo96@gmail.com">GMAIL</a>
      </div>
    </div>
    <div class="bottom-container">
      <a class="footer-link" href="https://www.linkedin.com/in/nirmalya-saha-625993201/">LinkedIn</a>
      <a class="footer-link" href="mailto:sahanirmalyo96@gmail.com">Gmail</a>
      <a class="footer-link" href="https://github.com/Nirmalya-Saha96">Github Account</a>
      <p class="copyright-message">© 2021 Nirmalya Saha.</p>
    </div>
  </body>
</html>
